/* fonts */
$font-raleway: "Raleway", sans-serif;
$font-montserrat: "Montserrat", sans-serif;

/* breakpoints */
$breakpoint_xxl: 1265px;
$breakpoint_xl: 1024px;
$breakpoint_tablet: 768px;
$breakpoint_phone: 430px;

/* Text */
$main-color: #fff;
$secondary-color: rgba(255, 255, 255, 0.5);
